src/main/resources/taxiSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message" type="messageType"/>
  <xs:complexType name="dispatchedType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element type="targetType" name="target" minOccurs="1"/>
      <xs:element type="contentType" name="content" minOccurs="0"/>
      <xs:element type="dispatchedType" name="dispatched" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="targetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:sequence>
      <xs:element type="xs:string" name="data"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>